@using Transprt.UtilAutUtils
@{
    var menuModel = (IEnumerable<Transprt.Data.Menu>)ViewBag.MenuList;
    var isHome = ViewBag.OnHomeClass;
    var pageTitle = UtilGral.GetPageName(ViewBag.Title);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>@pageTitle</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">
    <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!--[if lte IE 8]><script src="/scripts/ie/html5shiv.js"></script><![endif]-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--[if lte IE 8]><link rel="stylesheet" href="/scripts/ie/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="/scripts/ie/ie9.css" /><![endif]-->
</head>
<body class="@(string.IsNullOrWhiteSpace(isHome)?string.Empty : isHome)">
    <div id="page-wrapper">

        @Html.Partial("_Menu", menuModel, new ViewDataDictionary() { { "isHome", isHome } })
        @if (!(string.IsNullOrWhiteSpace(isHome))) {
        <!-- Banner -->
            <section id="banner">
                <div class="inner">
                    <h2>Spectral</h2>
                    <p>
                        Another fine responsive<br />
                        site template freebie<br />
                        crafted by <a href="http://html5up.net">HTML5 UP</a>.
                    </p>
                    <ul class="actions">
                        <li><a href="#" class="button special">Activate</a></li>
                    </ul>
                </div>
                <a href="#one" class="more scrolly">Learn More</a>
            </section>
        }
        @RenderBody()
        @Html.Partial("_Footer")
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
</body>
</html>
