@model Transprt.Data.Identity.AppRole


@{
    ViewBag.Title = "Editar Menu: " + Model.Name;
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
    ViewBag.Header = Model.Name;
    var listMessages = new List<MvcHtmlString> { Html.ValidationMessageFor(model => model.Name)};
}


@using (Html.BeginForm()) {
    Html.RenderPartial("/Views/Partials/_ValidationMessage.cshtml", listMessages);
    @Html.AntiForgeryToken()
    <div class="form-horizontal infoInterna">
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            <label class="control-label col-md-2" for="Name">Nombre</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.activo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.activo)
            </div>
        </div>
        @Html.HiddenFor(model => model.CreationDate)
        @Html.HiddenFor(model => model.CreationUserName)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
