@model IEnumerable<Transprt.Data.Identity.AppRole>

@{
    ViewBag.Title = "Áreas";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
    ViewBag.Header = "Lista de Áreas";
}
<p>
    @Html.ActionLink("Crear nueva área", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activo)
        </td>
        <td>
            @item.GetUserCreador()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>            
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar Área", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
