@model Transprt.Data.Ruta

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ruta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Direccione.calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccione.calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccione1.calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccione1.calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.km_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.km_total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gasto_gasolina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gasto_gasolina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gasto_peajes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gasto_peajes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.otros_gastos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.otros_gastos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usr_crea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usr_crea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fec_crea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fec_crea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usr_modif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usr_modif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fec_modif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fec_modif)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
