@model Transprt.Data.Marca
@{
    ViewBag.Title = (Model.id == 0) ? "Crear nueva marca" : "Editar marca: " + Model.nombre;
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
    ViewBag.Header = ViewBag.Title;
    var listMessages = new List<MvcHtmlString>();
}

@using (Html.BeginForm()) {
    Html.RenderPartial("/Views/Partials/_ValidationMessage.cshtml", listMessages);

    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.fec_crea)
    @Html.HiddenFor(model => model.usr_crea)
    @Html.HiddenFor(model => model.id)
    <div class="form-horizontal infoInterna">
        <div class="form-group">
            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.activo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.activo)
                    @Html.ValidationMessageFor(model => model.activo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

       <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear Marca" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a lista de marcas", "Index")
</div>
