@model Transprt.Data.Menu

@{
    ViewBag.Title = "Eliminar Menu: " + Model.name;
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
    ViewBag.Header = Model.name;
    ViewBag.SubTitle = "¿Estás seguro de eliminar este menú?";
}

<div class="infoInterna">
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orden)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usr_crea)
        </dt>

        <dd>
            @Model.GetUserCreador()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fec_crea)
        </dt>

        <dd>
            @Model.fec_crea.ToShortDateString()
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista de menús", "Index")
        </div>
    }
</div>
